<h1>Listing shops</h1>

<table>
  <thead>
    <tr>
      <th>Shop name</th>
      <th>Shop logo</th>
      <th>Phone</th>
      <th>Category</th>
      <th>Province</th>
      <th>City</th>
      <th>District</th>
      <th>Address</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Website</th>
      <th>Card type</th>
      <th>Business</th>
      <th>Last update time</th>
      <th>Create time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.shop_name %></td>
        <td><%= shop.shop_logo %></td>
        <td><%= shop.phone %></td>
        <td><%= shop.category %></td>
        <td><%= shop.province %></td>
        <td><%= shop.city %></td>
        <td><%= shop.district %></td>
        <td><%= shop.address %></td>
        <td><%= shop.lat %></td>
        <td><%= shop.lng %></td>
        <td><%= shop.website %></td>
        <td><%= shop.card_type %></td>
        <td><%= shop.business_id %></td>
        <td><%= shop.last_update_time %></td>
        <td><%= shop.create_time %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
