<p id="notice"><%= notice %></p>

<p>
  <strong>Shop name:</strong>
  <%= @shop.shop_name %>
</p>

<p>
  <strong>Shop logo:</strong>
  <%= @shop.shop_logo %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shop.phone %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shop.category %>
</p>

<p>
  <strong>Province:</strong>
  <%= @shop.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @shop.district %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @shop.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @shop.lng %>
</p>

<p>
  <strong>Website:</strong>
  <%= @shop.website %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @shop.card_type %>
</p>

<p>
  <strong>Business:</strong>
  <%= @shop.business_id %>
</p>

<p>
  <strong>Last update time:</strong>
  <%= @shop.last_update_time %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @shop.create_time %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
